# ==========================================
# GMS - Variables d'Environnement
# ==========================================
# Copier ce fichier en .env et personnaliser

# ==========================================
# SQL SERVER
# ==========================================
SA_PASSWORD=Azerty12
MSSQL_PID=Express
MSSQL_TCP_PORT=1433

# ==========================================
# APPLICATION
# ==========================================
ASPNETCORE_ENVIRONMENT=Development
CONNECTION_STRING=Server=sqlserver,1433;Database=GmsDb;User Id=sa;Password=GmsP@ssw0rd2024!;TrustServerCertificate=True;MultipleActiveResultSets=True

# ==========================================
# DOCKER
# ==========================================
COMPOSE_PROJECT_NAME=gms
DOCKER_BUILDKIT=1

# ==========================================
# SÉCURITÉ (Production uniquement)
# ==========================================
# JWT_SECRET=VotreCleSecrete256Bits
# ENCRYPTION_KEY=VotreCleDeChiffrement